.gradle
*.sw?
.#*
*#
*~
.classpath
.project
.settings
.metadata
.factorypath
bin
build
target
.springBeans
MANIFEST.MF
settings.xml
.idea
*.jar
*.class
*.iml
git.properties
.vscode

[Aa]rtifacts/
[Dd]ebug/
[Rr]elease/
[Bb]inaries/
[Bb]in/
[Oo]bj/
.dotnet/
.packages/
